
<div class="example-container">
    <table>
        <tr><td>Company name</td><td><mat-form-field><input matInput placeholder="Company name"></mat-form-field></td>
        <td>zipcode</td><td><mat-form-field><input matInput placeholder="zipcode">
        </mat-form-field></td>
        </tr>
        <tr><td>Job name</td><td><mat-form-field><input matInput placeholder="Job name">
        </mat-form-field></td>
            <td>Experience level</td><td><mat-form-field><input matInput placeholder="zipcode">
            </mat-form-field></td></tr>
        <tr><td>Job description </td><td>
    <mat-form-field>
    <textarea matInput cols="500" rows="10" maxlength="3000" placeholder="Job description">
    </textarea>
</mat-form-field></td>
            <td>Salary estimate</td><td><mat-form-field><input matInput placeholder="salaryestimate">
            </mat-form-field></td></tr>
        <tr><td>Telecommute?</td><td><mat-form-field>
            <mat-checkbox></mat-checkbox>
        </mat-form-field></td></tr>

    </table>
</div>