.example-container
{
    top: 100px;
    left: 0px;
    margin: 100px;
    width: 90%;
    height: 500px;
    background-color: none;
    border-width: 1px;
    color: grey !important;
}
table
{
  border-width: 10px !important;
  width:100%;
}
.td
{
   align:right;
}
input
{
   border-width: 10px !important;
   background-color: grey;
   color: white;
}

textarea
{
   border-width: 10px !important;
   background-color:grey;
   color:white;
   width: 600px;
}
